header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
  background-color: hsl(224, 14%, 10%);
  .Logo {
    width: 170px;
    margin: 1rem;
  }
  .leave-room {
    position: absolute;
    width: 35px;
    cursor: pointer;
    left: 0;
    height: 100%;
    margin-left: 1rem;
  }
}

.room-info {
  display: flex;
  padding: 0.5rem;
  position: relative;
  width: 100%;
  margin-top: auto;
  align-items: center;
  .copy-button {
    background-color: #303030;
    color: rgb(169, 169, 169);
    border: none;
    outline: none;
    border-radius: 50px;
    width: 25%;
    max-width: 100px;
    height: 45px;
    cursor: pointer;
    transition: 200ms;
    padding: 0.5rem;
    transition: 400ms;
    &:hover {
      background-color: #5d86f0;
      color: white;
    }
  }
  .users {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-right: auto;
  }
  .user {
    box-shadow: 0px -6px 15px -6px #a7a7a7 inset;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 45px;
    height: 45px;
    font-size: 16px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    font-family: monospace;
  }
}

.chat-room-container {
  background-color: #222222;
  width: 100%;
  display: flex;
  min-height: 75%;
  max-height: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  .message-container {
    background-color: #343434;
    flex-grow: 1;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .message-input-container {
    height: 4rem;
    min-height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .text-input {
      background-color: #404040;
      color: white;
      border: none;
      outline: none;
      text-indent: 0.5rem;
      border-radius: 5px;
      width: 70%;
      margin: 1rem;
    }
    .send-button {
      background-color: #303030;
      color: rgb(169, 169, 169);
      border: none;
      outline: none;
      border-radius: 5px;
      width: 25%;
      margin: 1rem;
      cursor: pointer;
      transition: 200ms;
    }
  }
}

.message-bubble-send {
  background-color: hsla(170, 50%, 40%, 0.5);
  padding: 1rem;
  margin: 0.5rem;
  margin-left: auto;
  border-radius: 5px;
  width: fit-content;
  max-width: 60%;
  word-wrap: break-word;
  font-size: 20px;
  box-shadow: 0px 4px 2px -0.5px rgb(34, 34, 34);
  transition: 1s;
  right: 0;
}
.message-bubble-recieve {
  background-color: hsla(29, 50%, 40%, 0.5);
  padding: 1rem;
  margin: 0.5rem;
  margin-right: auto;
  border-radius: 5px;
  width: fit-content;
  max-width: 60%;
  word-wrap: break-word;
  font-size: 20px;
  box-shadow: 0px 4px 2px -0.5px rgb(34, 34, 34);
  transition: 1s;
  left: 0;
}

@media screen and (max-width: 600px) and (max-height: 900px) {
  header {
    .leave-room {
      width: 30px;
    }
  }
  .room-info {
    width: 100vw;
    .user {
      font-size: 12px;
      width: 25px;
      height: 25px;
    }
  }

  .room-info {
    .copy-button {
      margin-right: 0.5rem;
    }
  }
  .chat-room-container {
    width: 100vw;
    margin-bottom: unset;
    min-height: 75%;
    max-height: 75%;
  }
}
