body {
  background-color: hsl(190, 10%, 20%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
